/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;

}

.container {
    width: 100%;
    max-width: 1000.39px;
    margin-left: auto;
    margin-right: auto;
}

/* Header Section */
header {
    height: 100vh;
    background-image: url(images/headphones_hero_1.jpg);
    background-repeat: no-repeat;
    padding: 27px 0 115px 0;

}

.nav_bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* .nav_brand {
    width: 160px;
    height: 32px;
} */

.nav_brand img {
    width: 160px;
    height: 32px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

nav ul li a:hover {
    text-decoration: none;
    color: #FF5A5F;
}

.main-container {
    display: flex;
    justify-content: center;
    margin: auto;
    /* padding: 312px; */
    max-width: 1400px;

}

.hero {
    margin: auto;
    text-align: center;
    color: white;
    width: 637px;
    margin-top: 300px;
}

.hero-content {

    justify-content: center;
    align-items: center;
}

.hero-content h1 {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
}

.hero-content p {
    font-size: 16;
    font-weight: bold;
    margin-bottom: 30px;
}

.content {
    margin: 65px auto;
    font-size: 16px;
    font-family: 'Lucida Sans Regular';
    color: #ffffff;
}

.cta-button {
    background-color: #FF5A5F;
    padding: 15px 30px;
    color: white;
    border: none;
    text-decoration: none;
    font-size: 1.2rem;
    border-radius: 30px;
    transition: background-color 0.3s ease;
    /* margin: 100px 230px 65px 230px; */
}

.what-we-do {
    padding: 110px 0px;
}

.section-title {
    text-align: center;
    font-size: 32px;
    font-weight: semi-bold;
    margin-bottom: 40px;
}

.section-content {
    max-width: 630px;
    margin: auto;
    text-align: center;
    padding: 10px;

}

.media-items {
    display: flex;
    flex-wrap: wrap;
    margin-top: 97px;
    width: 100%;
    text-align: center;
    justify-content: space-between;
}

.item {
    flex: 1 1 25%;
}

.testimony {
    background-image: url(images/headphones_hero_2.jpg);
    text-align: center;
    padding: 110px 0px;
}


.testimony-content {
    color: #ffffff;
    margin-bottom: 56px;
    padding: 10px;
    margin: auto;
    width: 50%;
    box-sizing: border-box;
}

.testimony-head {
    color: #ffffff;
    font-size: 32px;
    width: 100%;
}

.discount-container {
    display: flex;
    margin-top: 56px;
    flex-wrap: wrap;
    justify-content: space-between;

}

.pentagon-container {
    width: 200px;
    height: 200px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pentagon {
    width: 190px;
    height: 190px;
    background-color: #FF5A5F;
    clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
    position: absolute;
    margin: 56px 80px 80px 80px;

}

.pentagon-text {
    position: relative;
    z-index: 1;
    color: aliceblue;
    text-align: center;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

.highlight {
    font-size: 46px;
    font-style: 2rem;
}

.contact {
    padding: 110px 0px;
}

.contact-form {
    max-width: 600px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto;
}

.contact-form h2 {
    font-size: 32px;
    text-align: center;
    margin-bottom: 20px;
    color: #071629;
}

.contact-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.submit-btn-container {
    display: flex;
    justify-content: center;
}

.contact-cta-button {
    background-color: #FF5A5F;
    padding: 15px 30px;
    color: white;
    border: none;
    text-decoration: none;
    font-size: 1.2rem;
    border-radius: 30px;
    transition: background-color 0.3s ease;
}

footer {
    background-color: #071629;
    padding: 90px 0px 39px 0px;
}

.social-icons-container {
    display: flex;
    justify-content: space-between;
    /* Align items to left and right */
    align-items: center;
    /* Vertically center items */
}

.footer-logo {
    height: 32px;
    width: 161px;
    margin: 10px;
}

.social-icons {
    /* float: right; */
    display: flex;
    gap: 20px;

    align-items: center;

    justify-content: center;
}

.social-icons a {
    color: #ffffff;
    /* Default icon color */
    text-decoration: none;
    font-size: 24px;
    /* Size of the icon */
}

.social-icons a:hover {
    color: #0077b5;
    /* Change color on hover */
}

.copyright {
    padding: 79.24px 0 0 0;
    color: #ffffff;
    text-align: center;
    font-size: 12px;
}

.w-50 {
    width: 50% !important;
}

@media only screen and (max-width: 767px) {
    .item {
        flex: 1 1 100%;
        margin: 50px;
    }

    .pentagon-container {
        flex: 1 1 100%;
        margin: 50px;
    }

    .testimony {
        /* background-repeat: ; */
        background-size: cover;

    }

    .testimony-content {
        width: 100%;
    }

    .social-icons-container {
        flex-direction: column;
        /* Stack items vertically on mobile */
        justify-content: center;
        /* Center items on mobile */
    }

    .nav_bar {
        display: flex;
        flex-direction: column;

        justify-content: space-between;
        align-items: center;
    }


    .hero {
        margin: auto;
        text-align: center;
        color: white;
        margin-top: 100px;
    }
}